version: "2"
services:
  stockmanagement:
    image: openlmis/stockmanagement
    links:
      - db
      - log
    ports:
      - "8080"
    env_file: .env
  db:
    image: openlmis/postgres:9.4
    ports:
      - "5432"
    env_file: .env
  log:
    image: openlmis/rsyslog
    volumes:
      - '../logs/stockmanagement:/var/log'
